<form editable-form name="editableForm" onaftersave="saveGeneralInfo()">
    <div>
        <!-- button to show form -->
        <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
            Edit
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                Cancel
            </button>
        </span>
    </div>

    <!-- First column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-4">File No.: </label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.fileNo"
                      e-name="fileNo"
                      e-required>
                    {{ generalInformation.fileNo }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Last Name:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.lastName"
                      e-name="lastName"
                      e-required>
                    {{ generalInformation.lastName }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">First Name:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.firstName"
                      e-name="firstName"
                      e-required>
                    {{generalInformation.firstName }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Case Type:</label>
            <div class="col-sm-8">
                <span editable-select="generalInformation.caseType"
                      e-name="caseType"
                      e-ng-options="c as c for c in caseTypes">
                    {{ generalInformation.caseType || 'Not set' }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Other Type:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.otherType"
                      e-name="otherType">
                    {{ generalInformation.otherType }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Case Status:</label>
            <div class="col-sm-8">
                <span editable-select="generalInformation.caseStatus"
                      e-name="caseType"
                      e-ng-options="c as c for c in caseStatus">
                    {{ generalInformation.caseStatus || 'Not set' }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Accident Date:</label>
            <div class="col-sm-8">
                <span editable-date="generalInformation.accidentDate">
                    {{ generalInformation.accidentDate || '' }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Client Created:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.clientCreated"
                      e-name="clientCreated">
                    {{ generalInformation.clientCreated }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Email:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.email"
                      e-name="email">
                    {{ generalInformation.email }}
                </span>
            </div>
        </div>
    </div>
    <!-- Second column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-4">Address:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.address"
                      e-name="address">
                    {{ generalInformation.address }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Suite/Apt No.:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.aptNo" 
                      e-name="aptNo">
                    {{ generalInformation.aptNo }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >City:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.city" 
                      e-name="city">
                    {{ generalInformation.city }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >State:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.state" 
                      e-name="state">
                    {{ generalInformation.state }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Home Phone:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.homePhone" 
                      e-name="homePhone">
                    {{ generalInformation.homePhone }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Cell Phone:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.cellPhone" 
                      e-name="cellPhone">
                    {{ generalInformation.cellPhone }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Work Phone:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.workPhone" 
                      e-name="workPhone">
                    {{ generalInformation.workPhone }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Driving License:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.drivingLicense" 
                      e-name="drivingLicense">
                    {{ generalInformation.drivingLicense }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4" >Date Of Birth:</label>
            <div class="col-sm-8">
                <span href="#" 
                      editable-date="generalInformation.dateOfBirth">
                    {{ generalInformation.dateOfBirth || '' }}
                </span>
            </div>
        </div>
    </div>
    <!-- Third Column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-4">Initial Case Information:</label>
            <div class="col-sm-8">
                <span editable-text="generalInformation.initialInfo" 
                      e-name="initialInfo">
                    {{ generalInformation.initialInfo }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Defendant Name:</label>
            <span editable-text="generalInformation.defendantName" 
                  e-name="defendantName">
                {{ generalInformation.defendantName }}
            </span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Evidence 1:</label>
            <span editable-text="generalInformation.evidence1" 
                  e-name="evidence1">
                {{ generalInformation.evidence1 }}
            </span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Evidence 2:</label>
            <span editable-text="generalInformation.evidence2" 
                  e-name="evidence2">
                {{ generalInformation.evidence2 }}
            </span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Originating Attorney:</label>
            <span editable-text="generalInformation.originatingAttorney" 
                  e-name="originatingAttorney">
                {{ generalInformation.originatingAttorney }}
            </span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Assigned Attorney:</label>
            <span editable-text="generalInformation.assignedAttorney" 
                  e-name="assignedAttorney" 
                  e-required>
                {{ generalInformation.assignedAttorney }}
            </span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Refferal:</label>
            <span editable-text="generalInformation.refferal" 
                  e-name="refferal">
                {{ generalInformation.refferal }}
            </span>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">SSN:</label>
            <span editable-text="generalInformation.SSN" 
                  e-name="SSN">
                {{ generalInformation.SSN }}
            </span>
        </div>
    </div>
</form>
