<div ng-controller="ClientsCtrl">
    <br/>
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <input type="button" class="btn btn-primary" value="Add Client" ng-click="AddNewClient()" ng-disabled="isNewClientClicked" />
        </div>
        <div class="btn-group" role="group">
            <input type="button" class="btn btn-primary" value="Cancel" ng-disabled="!isNewClientClicked" />
        </div>
        <div class="btn-group" role="group">
            <input type="button" class="btn btn-primary" value="Save" ng-click="SaveNewClient()" ng-disabled="!isNewClientClicked" />
        </div>
        <div class="btn-group" role="group">
            <input type="button" class="btn btn-primary" value="Close Client" />
        </div>
        <div class="btn-group" role="group">
            <input type="button" class="btn btn-primary" value="Reactivate Closed Client" />
        </div>
        <div class="btn-group" role="group">
            <input type="button" class="btn btn-primary" value="Expand All" />
        </div>
    </div>
    <div class="row">
        <!--  ========================================================================= -->
        <!--  Client Grid
            <!--  ========================================================================= -->
        <div>
            <br />
            <input class="form-control"
                   id="personNameFilter"
                   type="text"
                   ng-model="nameFilter"
                   placeholder="Filter by Name"
                   ng-change="filterName()"
                   style="margin-bottom: 5px">

            <div class="gridStyle"
                 ng-grid="gridOptions"></div>
            <!--<p class="selectedItems">{{mySelections}}</p>-->
        </div>

    </div>
    <div class="row">
        <!--  ========================================================================= -->
        <!--  Client details
            <!--  ========================================================================= -->
        <div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div>
                <accordion close-others="false">
                    <!--  ========================================================================= -->
                    <!--  General Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group heading="General Information" is-open="true">
                        <general-section></general-section>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Additional Client Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Additional Client Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': additionalInfo.open, 'glyphicon-chevron-right': !additionalInfo.open}"></i>
                        </accordion-heading>
                        <additional-client></additional-client>
                    </accordion-group>
                    <!--  ========================================================================= -->
                    <!--  Client Auto Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Client Auto Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': clientAutoInfo.open, 'glyphicon-chevron-right': !clientAutoInfo.open}"></i>
                        </accordion-heading>
                        <client-auto></client-auto>
                    </accordion-group>
                    <!--  ========================================================================= -->
                    <!--  Client Medical Insurance Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Client Medical Insurance <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': clientMedicalInsurance.open, 'glyphicon-chevron-right': !clientMedicalInsurance.open}"></i>
                        </accordion-heading>
                        <div class="row">
                            <div class="col-md-2"><input type="button" value="Edit"></div>
                            <div class="col-md-2"><input type="button" value="Cancel"></div>
                        </div>
                        <medical-insurance></medical-insurance>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Defendant Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Defendant Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': defendantInfo.open, 'glyphicon-chevron-right': !defendantInfo.open}"></i>
                        </accordion-heading>
                        <defendant-info></defendant-info>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Defendant Insurance Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Defendant Insurance Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': defendantInsuranceInfo.open, 'glyphicon-chevron-right': !defendantInsuranceInfo.open}"></i>
                        </accordion-heading>
                        <defendant-insurance></defendant-insurance>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Statute Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Statute Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': statute.open, 'glyphicon-chevron-right': !statute.open}"></i>
                        </accordion-heading>
                        <statute-info></statute-info>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Court Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Court Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': court.open, 'glyphicon-chevron-right': !court.open}"></i>
                        </accordion-heading>
                        <court-info></court-info>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Misc Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="true">
                        <accordion-heading>
                            Misc Notes<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': misc.open, 'glyphicon-chevron-right': !misc.open}"></i>
                        </accordion-heading>
                        <misc-info></misc-info>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>
