<div ng-controller="ClientsCtrl">
    <br/>
    <div class="navbar-fixed-top" style="margin-top: 50px">
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <input type="button" class="btn btn-primary" value="Add Client" ng-click="AddNewClient()" ng-disabled="isNewClientClicked" />
            </div>
            <div class="btn-group" role="group">
                <input type="button" class="btn btn-primary" value="Cancel" ng-disabled="!isNewClientClicked" />
            </div>
            <div class="btn-group" role="group">
                <input type="button" class="btn btn-primary" value="Save" ng-click="SaveNewClient()" ng-disabled="!isNewClientClicked" />
            </div>
            <div class="btn-group" role="group">
                <input type="button" class="btn btn-primary" value="Close Client" ng-click="CloseClient()" />
            </div>
            <div class="btn-group" role="group">
                <input type="button" class="btn btn-primary" value="Reactivate Closed Client" ng-click="ReactivateClient()" />
            </div>
            <div class="btn-group" role="group">
                <button class="btn btn-primary" ng-click="ExpandAllGroups()" >{{ExpandButtonCaption}}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <!--  ========================================================================= -->
        <!--  Client Grid
            <!--  ========================================================================= -->
        <div>
            <br />
            <input class="form-control"
                   id="personNameFilter"
                   type="text"
                   ng-model="nameFilter"
                   placeholder="Filter by Name"
                   ng-change="filterName()"
                   style="margin-bottom: 5px">

            <div class="gridStyle"
                 ng-grid="gridOptions"></div>
            <!--<p class="selectedItems">{{mySelections}}</p>-->
        </div>
        <br/>
    </div>
    <div class="row">
        <!--  ========================================================================= -->
        <!--  Client details
            <!--  ========================================================================= -->
        <div cg-busy="{promise:promise,templateUrl:templateUrl,message:message,backdrop:backdrop,delay:delay,minDuration:minDuration}">
            <div>
                <accordion close-others="false">
                    <!--  ========================================================================= -->
                    <!--  General Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group heading="General Information" is-open="true">
                        <general-section></general-section>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Additional Client Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="IsAdditionalInfoOpen">
                        <accordion-heading>
                            Additional Client Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsAdditionalInfoOpen, 'glyphicon-chevron-right': !IsAdditionalInfoOpen}"></i>
                        </accordion-heading>
                        <additional-client></additional-client>
                    </accordion-group>
                    <!--  ========================================================================= -->
                    <!--  Client Auto Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="IsClientAutoInfoOpen">
                        <accordion-heading>
                            Client Auto Information <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsClientAutoInfoOpen, 'glyphicon-chevron-right': !IsClientAutoInfoOpen}"></i>
                        </accordion-heading>
                        <client-auto></client-auto>
                    </accordion-group>
                    <!--  ========================================================================= -->
                    <!--  Client Medical Insurance Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="IsClientMedicalInsuranceOpen">
                        <accordion-heading>
                            Client Medical Insurance <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsClientMedicalInsuranceOpen, 'glyphicon-chevron-right': !IsClientMedicalInsuranceOpen}"></i>
                        </accordion-heading>
                        <medical-insurance></medical-insurance>
                    </accordion-group>
                    <!--  ========================================================================= -->
                    <!--  Client Injuries Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="IsClientInjuriesOpen">
                        <accordion-heading>
                            Client Injuries<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsClientInjuriesOpen, 'glyphicon-chevron-right': !IsClientInjuriesOpen}"></i>
                        </accordion-heading>
                        <client-injuries></client-injuries>
                    </accordion-group>
                    <!--  ========================================================================= -->
                    <!--  Defendant Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="IsDefendantInfoOpen">
                        <accordion-heading>
                            Defendant Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsDefendantInfoOpen, 'glyphicon-chevron-right': !IsDefendantInfoOpen}"></i>
                        </accordion-heading>
                        <defendant-info></defendant-info>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Defendant Insurance Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="IsDefendantInsuranceInfoOpen">
                        <accordion-heading>
                            Defendant Insurance Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsDefendantInsuranceInfoOpen, 'glyphicon-chevron-right': !IsDefendantInsuranceInfoOpen}"></i>
                        </accordion-heading>
                        <defendant-insurance></defendant-insurance>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Statute Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="IsStatuteOpen">
                        <accordion-heading>
                            Statute Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsStatuteOpen, 'glyphicon-chevron-right': !IsStatuteOpen}"></i>
                        </accordion-heading>
                        <statute-info></statute-info>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Court Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="IsCourtOpen">
                        <accordion-heading>
                            Court Information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsCourtOpen, 'glyphicon-chevron-right': !IsCourtOpen}"></i>
                        </accordion-heading>
                        <court-info></court-info>
                    </accordion-group>

                    <!--  ========================================================================= -->
                    <!--  Misc Information Section -->
                    <!--  ========================================================================= -->
                    <accordion-group is-open="IsMiscOpen">
                        <accordion-heading>
                            Misc Notes<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsMiscOpen, 'glyphicon-chevron-right': !IsMiscOpen}"></i>
                        </accordion-heading>
                        <misc-info></misc-info>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</div>
