<form ng-submit="login()">
    <label class="control-label">Username</label>
    <input class="form-control" type="text" placeholder="Username" ng-model="user.username">

    <label class="control-label">Password</label>
    <input class="form-control" type="password" placeholder="Password" ng-model="user.password" /><br />

    <input type="checkbox" name="remember" data-ng-click="rememberMe()" data-ng-model="remember"> &nbsp; Remember Me

    <button type="submit" class="btn btn-primary">Login</button>
    <i>username: admin<br />password: admin</i>
</form>