<!DOCTYPE html>
<html ng-app="app" lang="en">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/ng-grid.css" />
	<link rel="stylesheet" type="text/css" href="/bootstrap-3.3.2-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap-3.3.2-dist/css/bootstrap-theme.min.css">

    <link rel='stylesheet' href='/stylesheets/login-page.css' />

	<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="/javascripts/angular.min.js"></script>
	<script type="text/javascript" src="/javascripts/ui-bootstrap-tpls-0.12.1.js"></script>
   
    <script type="text/javascript" src="/javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>
    
    <script type="text/javascript" src="/nggrid-js/ng-grid.debug.js"></script>
	
    <script type="text/javascript" src="/js/_main.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
    <script type="text/javascript" src="/js/users.js"></script>

    <script type="text/javascript" src="/services/loginService.js"></script>

    <script type="text/javascript" src="/js/nggridtest.js"></script>

    <script type="text/javascript" src="/js/Common/busyIcon.js"></script>

    <script type="text/javascript" src="/js/Filters/ISODateReviverFilter.js"></script>

    <script type="text/javascript" src="/js/clients.js"></script>
    <script type="text/javascript" src="/js/ClientControllers/addNewClient.js"></script>
    <script type="text/javascript" src="/js/ClientControllers/clientGrid.js"></script>
    <script type="text/javascript" src="/js/ClientControllers/updateClient.js"></script>

    <script type="text/javascript" src="/js/generalsection.js"></script>
    <script type="text/javascript" src="/js/datetimecontroller.js"></script>

    <script type="text/javascript" src="/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>

	<link href="/stylesheets/angular-busy.css" rel="stylesheet">
    <link href="/stylesheets/gh-fork-ribbon.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/angular-animate.js"></script>
    <script type="text/javascript" src="/javascripts/angular-busy.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>

	<link href="/angular-xeditable-0.1.8/css/xeditable.css" rel="stylesheet">
	<script src="/angular-xeditable-0.1.8/js/xeditable.js"></script>

    <script type="text/javascript" src="/directives/client/generalSection/GeneralCtrl.js"></script>
    <script type="text/javascript" src="/directives/client/additionalClientInfo/AdditionalClientInfoCtrl.js"></script>

  </head>
  <body>
	  <header>
		<nav class="navbar navbar-inverse navbar-fixed-top" >
			<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Lawyers Port</a>
			</div>
			<div >
				<ul class="nav navbar-nav" ng-hide="isLoggingRequired">
					<li ng-class="{ active: isActive('/clients')}"><a href="#/clients">Client Dashboard</a></li>
					<li ng-class="{ active: isActive('/reports')}"><a href="#/menu/reports">Reports</a></li>
					<li ng-class="{ active: isActive('/Billings')}"><a href="#/menu/Billings">Billings</a></li>
					<li ng-class="{ active: isActive('/Delete Clients')}"><a href="#/menu/deleteclients">Delete Clients</a></li>
					<li ng-class="{ active: isActive('/Users')}"><a href="#/users">Users</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" ng-hide="!isLoggingRequired">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-log-in"></span>
							Login
							<span class="caret"></span>
						</a>
						<div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
							<div my-login></div>
						</div>
					</li>
					<li class="dropdown" ng-hide="isLoggingRequired">
						<a class="dropdown-toggle" data-toggle="dropdown" >
						<span class="glyphicon glyphicon-user"></span>
						Welcome {{loggedInUserName}}!
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/user/preferences"><i class="icon-cog"></i> Preferences</a></li>
							<li><a href="#"><i class="icon-envelope"></i> Contact Support</a></li>
                            <li class="divider"></li>
							<li><a href="/auth/logout"><i class="icon-off"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
				
			</div>
		</nav>
		</header>
		<div	class="container"
				ng-controller="LoginCtrl"
				ng-hide="!isLoggingRequired">
			<div class="card card-container">
				<p id="profile-name" class="profile-name-card"></p>
				<form	class="form-signin"
						ng-submit="login()">
					<span id="reauth-email" class="reauth-email"></span>
					<input	type="text"
							id="inputEmail" 
							class="form-control" 
							placeholder="User Name" 
							ng-model="user.username"
							required autofocus>
					<input	type="password" 
							id="inputPassword"
							class="form-control" 
							placeholder="Password"
							ng-model="user.password" 
							required>
					<div id="remember" class="checkbox">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
						</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
				</form><!-- /form -->
				<a href="#" class="forgot-password">
					Forgot the password?
				</a>
			</div><!-- /card-container -->
		</div>		
		<ng-view ></ng-view>
  </body>
</html>
