<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/ng-grid.css" />

    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>

	
    <script type="text/javascript" src="/js/_main.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
    <script type="text/javascript" src="/js/users.js"></script>

    <script type="text/javascript" src="/services/loginService.js"></script>

    <script type="text/javascript" src="/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/nggrid-js/ng-grid.debug.js"></script>

    <script type="text/javascript" src="/js/nggridtest.js"></script>

  </head>
  <body>
	<div ng-hide="isLoggingRequired">
		{{loggedInUserName}}
		<br/>
		<a href="#/" ng-click="logout()">Logout</a>

		<nav>
			<table>
				<tr width="100%">
					<td><a href="#/menu/clientdashboard.html">Client Dashboard</a></td>
					<td><a href="#/menu/reports.html">Reports</a></td>
					<td><a href="#/menu/Billings.html">Billings</a></td>
					<td><a href="#/menu/deleteclients.html">Delete Clients</a></td>
					<td><a href="#/users">Users</a></td>
				</tr>
			</table>
		</nav>
	</div>

  	<span ng-hide=!"isLoggingRequired">{{message}} </span>

    <ng-view></ng-view>

  </body>
</html>
