<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.min.js"></script>

	
    <script type="text/javascript" src="/js/_main.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
    <script type="text/javascript" src="/js/dashboard.js"></script>
    <script type="text/javascript" src="/js/users.js"></script>

    <script type="text/javascript" src="/services/loginService.js"></script>
  </head>
  <body>
  	{{message}}
    <ng-view></ng-view>
  </body>
</html>
