<form editable-form name="editableForm" onaftersave="saveDefendantInsuranceInfo()">
    <div>
        <!-- button to show form -->
        <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
            Edit
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                Cancel
            </button>
        </span>
    </div>

    <div class="container-fluid">
        <!--  row 1-->
        <div class="row">
            <div class="col-md-4">
                <span class="title">Name of Insured: </span>
                <span editable-text="defendantInsuranceInfo.nameOfInsured"
                      e-name="nameOfInsured">
                    {{ defendantInsuranceInfo.nameOfInsured }}
                </span>
            </div>
            <div class="col-md-4">
                <span class="title">Insurance Company: </span>
                <span editable-text="defendantInsuranceInfo.insuranceCompany"
                      e-name="insuranceCompany">
                    {{ defendantInsuranceInfo.insuranceCompany }}
                </span>
            </div>
        </div>
        
        <!--  row 2-->
        <div class="row">
            <div class="col-md-4">
                <span class="title">Address: </span>
                <span editable-text="defendantInsuranceInfo.address"
                      e-name="address">
                    {{ defendantInsuranceInfo.address }}
                </span>
            </div>
            <div class="col-md-4">
                <span class="title">City: </span>
                <span editable-text="defendantInsuranceInfo.city"
                      e-name="city">
                    {{ defendantInsuranceInfo.city }}
                </span>
            </div>
        </div>
        
        <!-- row 3 -->
        <div class="row">
            <div class="col-md-4">
                <span class="title">State: </span>
                <span editable-text="defendantInsuranceInfo.state"
                      e-name="state">
                    {{ defendantInsuranceInfo.state }}
                </span>
            </div>
            <div class="col-md-4">
                <span class="title">Zip: </span>
                <span editable-text="defendantInsuranceInfo.zip"
                      e-name="zip">
                    {{ defendantInsuranceInfo.zip }}
                </span>
            </div>
        </div>
        
        <!-- row 4 -->
        <div class="row">
            <div class="col-md-4">
                <span class="title">Phone: </span>
                <span editable-text="defendantInsuranceInfo.phone"
                      e-name="phone">
                    {{ defendantInsuranceInfo.phone }}
                </span>
            </div>
            <div class="col-md-4">
                <span class="title">Adjuster: </span>
                <span editable-text="defendantInsuranceInfo.adjuster"
                      e-name="adjuster">
                    {{ defendantInsuranceInfo.adjuster }}
                </span>
            </div>
        </div>
        
        <!-- row 5 -->
        <div class="row">
            <div class="col-md-4">
                <span class="title">Claim Number: </span>
                <span editable-text="defendantInsuranceInfo.claimNumber"
                      e-name="claimNumber">
                    {{ defendantInsuranceInfo.claimNumber }}
                </span>
            </div>
            <div class="col-md-4">
                <span class="title">Policy Limits: </span>
                <span editable-text="defendantInsuranceInfo.policyLimits"
                      e-name="policyLimits">
                    {{ defendantInsuranceInfo.policyLimits }}
                </span>
            </div>
        </div>
    </div>
</form>