<form editable-form name="editableForm" onaftersave="saveAdditionalInfo()">
    <div>
        <!-- button to show form -->
        <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
            Edit
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                Cancel
            </button>
        </span>
    </div>

    <!-- First column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-4">Insurance Company: </label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.insuranceCompany"
                      e-name="insuranceCompany">
                    {{ clientAutoInfo.insuranceCompany }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Address:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.address"
                      e-name="address">
                    {{ clientAutoInfo.address }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">City:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.city"
                      e-name="city">
                    {{ clientAutoInfo.city }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">State:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.state"
                      e-name="state">
                    {{ clientAutoInfo.state }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Zip:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.zip"
                      e-name="zip">
                    {{ clientAutoInfo.zip }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Phone Number:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.phoneNumber"
                      e-name="phoneNumber">
                    {{ clientAutoInfo.phoneNumber }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Adjuster:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.adjuster"
                      e-name="adjuster">
                    {{ clientAutoInfo.adjuster }}
                </span>
            </div>
        </div>
    </div>

    <!-- Second column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-4">Policy Number:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.policyNumber"
                      e-name="policyNumber">
                    {{ clientAutoInfo.policyNumber }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Effective Start Date:</label>
            <div class="col-sm-8">
                <span editable-date="clientAutoInfo.effectiveStartDate">
                    {{ clientAutoInfo.effectiveStartDate || '' }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Effective End Date:</label>
            <div class="col-sm-8">
                <span editable-date="clientAutoInfo.effectiveEndDate">
                    {{ clientAutoInfo.effectiveEndDate || '' }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Med Pay Available:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.medPayAvailable"
                      e-name="medPayAvailable">
                    {{ clientAutoInfo.medPayAvailable }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Amount:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.amount"
                      e-name="amount">
                    {{ clientAutoInfo.amount }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Liability Min Coverage:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.liabilityMinCoverage"
                      e-name="liabilityMinCoverage">
                    {{ clientAutoInfo.liabilityMinCoverage }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Liability Max Coverage:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.liabilityMaxCoverage"
                      e-name="liabilityMaxCoverage">
                    {{ clientAutoInfo.liabilityMaxCoverage }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">UMI Min:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.UMIMin"
                      e-name="UMIMin">
                    {{ clientAutoInfo.UMIMin }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">UMI Max:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.UMIMax"
                      e-name="UMIMax">
                    {{ clientAutoInfo.UMIMax }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Reimbursable:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.reimbursable"
                      e-name="reimbursable">
                    {{ clientAutoInfo.reimbursable }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Notes:</label>
            <div class="col-sm-8">
                <span editable-text="clientAutoInfo.notes"
                      e-name="notes">
                    {{ clientAutoInfo.notes }}
                </span>
            </div>
        </div>
    </div>
</form>
