<form editable-form name="editableForm" 
      onaftersave="saveStatuteInfo()">
    <div>
        <!-- button to show form -->
        <button type="button" class="btn btn-default"
                ng-click="toggleEnableStatuteEditing(true)"
                ng-show="!isStatuteInformationEditable">
            Edit
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="isStatuteInformationEditable">
            <button type="submit"
                    class="btn btn-primary">
                Save
            </button>
            <button type="button"
                    class="btn btn-default"
                    ng-click="toggleEnableStatuteEditing(false)">
                Cancel
            </button>
        </span>
    </div>
    <!-- First column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-6">1 yr from date of accident: </label>
            <div class="col-sm-6">
                <span class="title"
                      ng-bind="statuteInfo._1yrFromAccident | date:'yyyy-MM-dd'" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-6">60 days from filed date: </label>
            <div class="col-sm-6">
                <span class="title" ng-bind="statuteInfo._60daysFromFiledDate| date:'yyyy-MM-dd'"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-6">5 yrs date: </label>
            <div class="col-sm-6">
                <span class="title" ng-bind="statuteInfo._5yrsDate | date:'yyyy-MM-dd'"></span>
            </div>
        </div>
    </div>
    <!-- Second column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-6">2 yrs from date of accident: </label>
            <div class="col-sm-6">
                <span class="title" ng-bind="statuteInfo._2yrFromAccident | date:'yyyy-MM-dd'"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-6">2 yrs date: </label>
            <div class="col-sm-6">
                <span class="title" ng-bind="statuteInfo._2yrsDate | date:'yyyy-MM-dd'"></span>
            </div>
        </div>
    </div>
    <!-- Third Column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-6">Complaint Filed Date: </label>
            <div class="col-sm-6">
                <input type="date"
                       ng-model="statuteInfo.complaintFiledDate"
                       ng-disabled="!isStatuteInformationEditable"
                       placeholder="yyyy-MM-dd" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-6">3 yrs date: </label>
            <div class="col-sm-6">
                <span class="title" ng-bind="statuteInfo._3yrsDate | date:'yyyy-MM-dd' "></span>
            </div>
        </div>
    </div>

    <!-- Government Claim Details -->
    <div class="row panel panel-default col-md-12">
        <div class="panel-heading">
            <h3 class="panel-title">Government Claim Details</h3>
        </div>
        <div class="panel-body">
            <!-- First column -->
            <div class="form-horizontal col-md-4" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-4">6 Months Statute: </label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo._6monthsStatue"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">City:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.city"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">County:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.county"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">State:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.state"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Other:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.other"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
            </div>
            <!-- Second column -->
            <div class="form-horizontal col-md-4" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-4">S/L 1 yr:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.sl1yr"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Rejected On:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.cityRejectedDate"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Rejected On:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.countyRejectedDate"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Rejected On:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.stateRejectedDate"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Rejected On:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.otherRejectedDate"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
            </div>
            <!-- Third Column -->
            <div class="form-horizontal col-md-4" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-4">2 yrs:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo._2yrs"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">6 Months:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.cityRejectedAfter6Months"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">6 Months:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.countyRejectedAfter6Months"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">6 Months:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.stateRejectedAfter6Months"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                      
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">6 Months:</label>
                    <div class="col-sm-8">
                        <input type="date"
                               ng-model="govtClaimInfo.otherRejectedAfter6Months"
                               ng-disabled="!isStatuteInformationEditable"
                               placeholder="yyyy-MM-dd" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>