<form editable-form name="editableForm" onaftersave="saveGeneralInfo()">
    <div>
        <!-- button to show form -->
        <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
            Edit
        </button>
        <!-- buttons to submit / cancel form -->
        <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                Save
            </button>
            <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                Cancel
            </button>
        </span>
    </div>

    <!-- First column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-4">Last Name: </label>
            <div class="col-sm-8">
                <span editable-text="defendantInfo.lastName"
                      e-name="lastName">
                    {{ defendantInfo.lastName }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Address:</label>
            <div class="col-sm-8">
                <span editable-text="defendantInfo.address"
                      e-name="address">
                    {{ defendantInfo.address }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">State:</label>
            <div class="col-sm-8">
                <span editable-text="defendantInfo.state"
                      e-name="state">
                    {{ defendantInfo.state }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Home Phone:</label>
            <div class="col-sm-8">
                <span editable-text="defendantInfo.homePhone"
                      e-name="homePhone">
                    {{ defendantInfo.homePhone }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Date Of Birth:</label>
            <div class="col-sm-8">
                <span editable-date="defendantInfo.dateOfBirth">
                    {{ defendantInfo.dateOfBirth || '' }}
                </span>
            </div>
        </div>
    </div>

    <!-- Second column -->
    <div class="form-horizontal col-md-4" role="form">
        <div class="form-group">
            <label class="control-label col-sm-4">First Name:</label>
            <div class="col-sm-8">
                <span editable-text="defendantInfo.firstName"
                      e-name="firstName">
                    {{ defendantInfo.firstName }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">City:</label>
            <div class="col-sm-8">
                <span editable-text="defendantInfo.city"
                      e-name="city">
                    {{ defendantInfo.city }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Zip:</label>
            <div class="col-sm-8">
                <span editable-text="defendantInfo.zip"
                      e-name="zip">
                    {{ defendantInfo.zip }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Business Phone:</label>
            <div class="col-sm-8">
                <span editable-text="defendantInfo.businessPhone"
                      e-name="businessPhone">
                    {{ defendantInfo.businessPhone }}
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Driving License:</label>
            <div class="col-sm-8">
                <span editable-text="defendantInfo.drivingLicense"
                      e-name="drivingLicense">
                    {{ defendantInfo.drivingLicense }}
                </span>
            </div>
        </div>
    </div>
    
    <!-- Defendant Attorney Information -->
    <div class="row panel panel-default col-md-12">
        <div class="panel-heading">
            <h3 class="panel-title">Defendant Attorney Information</h3>
        </div>
        <div class="panel-body">
            <!-- First column -->
            <div class="form-horizontal col-md-4" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-4">Firm: </label>
                    <div class="col-sm-8">
                        <span editable-text="defendantAttorneyInfo.firm"
                              e-name="firm">
                            {{ defendantAttorneyInfo.firm }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Address:</label>
                    <div class="col-sm-8">
                        <span editable-text="defendantAttorneyInfo.address"
                              e-name="address">
                            {{ defendantAttorneyInfo.address }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Zip:</label>
                    <div class="col-sm-8">
                        <span editable-text="defendantAttorneyInfo.zip"
                              e-name="zip">
                            {{ defendantAttorneyInfo.zip }}
                        </span>
                    </div>
                </div>
            </div>

            <!-- Second column -->
            <div class="form-horizontal col-md-4" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-4">Attorney:</label>
                    <div class="col-sm-8">
                        <span editable-text="defendantAttorneyInfo.attorney"
                              e-name="attorney">
                            {{ defendantAttorneyInfo.attorney }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">City:</label>
                    <div class="col-sm-8">
                        <span editable-text="defendantAttorneyInfo.city"
                              e-name="city">
                            {{ defendantAttorneyInfo.city }}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Phone:</label>
                    <div class="col-sm-8">
                        <span editable-text="defendantAttorneyInfo.phone"
                              e-name="phone">
                            {{ defendantAttorneyInfo.phone }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
