this is misc info directive

<p class="gridStyle" ng-grid="miscGridOptions"></p>
<table>
    <tr>
        <td><input type="text" placeholder="Note" ng-model="selectedMiscInfo[0].note" /></td>
    </tr>
    <tr>
        <td>
            <div ng-controller="DatepickerCtrl">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="selectedMiscInfo[0].modifiedDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3"><input type="text" placeholder="Note" ng-model="selectedMiscInfo[0].description" /></td>
    </tr>
    <tr>
        <td>
            <div class="row">
                <div class="col-md-3">
                    <input type="button" value="Add New">
                </div>
                <div class="col-md-3">
                    <input type="button" value="Edit">
                </div>
                <div class="col-md-3">
                    <input type="button" value="Save">
                </div>
                <div class="col-md-3">
                    <input type="button" value="Delete">
                </div>
            </div>
        </td>
    </tr>
</table>